<footer>
	<div class="frow">
		<div class="gamma_menu">
			<ul>
				<li><a href="">3047. this is the future</a></li>
				<li><a href="">source</a></li>
				<li><a href="">design system</a></li>
			</ul>
		</div>
		<div class="delta_menu">
			<ul>
				<li><a href="">home</a></li>
				<li><a href="">contact</a></li>
			</ul>
		</div>
	</div>
</footer>
<!-- Javascript CDN -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<!-- Slick Slider -->
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<!-- Scripts -->
<script type="text/javascript" src="/js/main.js"></script>