// Project Meta
.project_title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    padding-bottom: 25px;

    @include laptop {
    	float: left;
    	text-align: left;
    }
}
.project_subtitle {
	text-align: center;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	@include laptop {
		float: right;
		text-align: left;
		width: 45%;
		font-size: 20px;
	}
}
.project_meta_wrapper {
	position: relative;
	@extend %clearfix;
}
.project_meta_wrapper::after {
	content: '';
	display: block;
	width: 50px;
	margin: 0 auto 75px;
	height: 1px;
	background-color: $color2;

	@include laptop {
		display: none;
	}
}

// Content Styles
.content_styles {
	width: 85%;
	margin: 0 auto 150px !important;

	@include laptop {
		width: auto;
		margin: 0 0 150px !important;
	}

	h2 {
		text-transform: uppercase;
	}

	a {
		text-transform: uppercase;
		color: $color2;
		font-weight: 600;
		font-size: 16px;
		line-height: 1.8;

		@include tablet {
			font-size: 20px;
		}

		&:hover {
			border-bottom: 1px solid;
		}
	}
	p {
		@include laptop {
			font-size: 20px;	
		}
		
	}
}

// Visual Img
.visual_wrapper {
	margin-bottom: 75px;
	position: relative;	
}
.visual_no {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: -18px;
	position: relative;
	margin-left: 10px;
	@include tablet {
		font-size: 40px;
		margin-bottom: -25px;
		margin-left: -20px;
	}
}

// Credits
.credits_wrapper {
	margin-bottom: 125px;
}
.credits_title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 10px;
	@include tablet {
		font-size: 24px;
	}
}
.credits_list li {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
	@include tablet {
		font-size: 14px;
	}
}
.credits_name {
	font-weight: bold;
}

// Pagination
.pagination_wrapper {
	margin: 100px auto 200px;
}
.pagination_links {
	font-weight: 700 !important;
	font-size: 18px !important;
	line-height: 18px !important;
	color: $color2 !important;
	@include tablet {
		font-size: 24px !important;
		line-height: 22px !important;
	}
}

// Source Links
// (see .content_styles > a )
.source_links_wrapper {
	margin-top: 50px;
}

// Scheduling
.scheduling_wrapper {
	width: 75%;
	margin: 100px auto 50px;
}

// Design System
.ds {
	display: block !important;
}

// Profile
.headline {
	font-size: 40px;
	padding-top: 5px;
	text-transform: uppercase;
	padding-bottom: 30px;
}
.headline::before{
	content: '';
	display: block;
	width: auto;
	height: 1px;
	background: $color2;
}
.profile_content {
	font-size: 20px;
	line-height: 30px;
}
.profile_wrapper {
	@include tablet {
		width: 75%;
	}
	@include laptop {
		width: 54%;
	}
}
.profile_menu {
	margin-top: 50px;

	li a {
		font-size: 17px;
		color: $color2;
		line-height: 28px;
	}
}
.subscribe_wrapper {
	@include tablet {
		max-width: 600px;
		height: 300px;
		margin: 0 auto;
	}
	@include laptop {
		max-width: 800px;
	}
}