// Project Meta
.project_title {
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    padding-bottom: 25px;

    @include laptop {
    	float: left;
    	text-align: left;
    }
}
.project_subtitle {
	text-align: center;
	margin: 0 auto;
	width: 85%;
	padding-bottom: 30px;
	@include laptop {
		float: right;
		text-align: left;
		width: 40%;
	}
}
.project_meta_wrapper {
	position: relative;
	@extend %clearfix;
}
.project_meta_wrapper::after {
	content: '';
	display: block;
	width: 50px;
	margin: 0 auto 75px;
	height: 1px;
	background-color: $color2;

	@include laptop {
		display: none;
	}
}

// Content Styles
.content_styles {
	width: 85%;
	margin: 0 auto 150px !important;

	@include desktop {
		width: 65%;
		margin: 0 0 150px !important;
	}

	h2 {
		text-transform: uppercase;
	}

	a {
		text-transform: uppercase;
		color: $color2;
		font-weight: 600;
		font-size: 20px;
		line-height: 34px;

		&:hover {
			border-bottom: 1px solid;
		}
	}
}

// Visual Img
.visual_wrapper {
	margin-bottom: 75px;
	position: relative;	
}
.visual_no {
	font-size: 28px;
	font-weight: 700;
	margin-bottom: -18px;
	position: relative;
	margin-left: 10px;
	@include tablet {
		font-size: 40px;
		margin-bottom: -25px;
		margin-left: -20px;
	}
}

// Credits
.credits_wrapper {
	margin-bottom: 125px;
}
.credits_title {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	padding-bottom: 10px;
	@include tablet {
		font-size: 24px;
	}
}
.credits_list li {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
	@include tablet {
		font-size: 14px;
	}
}
.credits_name {
	font-weight: bold;
}

// Pagination
.pagination_wrapper {
	margin-bottom: 150px;
}
.pagination_links {
	font-weight: 700;
	font-size: 24px;
	line-height: 22px;
	color: $color2;
}