.menu_title {
	font-family: $font-family2;
	letter-spacing: 5px;
	padding-bottom: 20px;
	position: relative;

	@include tablet {
		padding-bottom: 0;
		padding-top: 20px;
	}
}
.alpha_menu {
	width: 90%;
	margin: 0 auto;

	@include tablet {
		width: auto;
	}
}
.primary_slider {
	display: none !important;

	@include tablet {
		display: block !important;
	}
	@include laptop {
		display: none !important;
	}
}


// Dropdown Menu functionality
.nav {
	display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	height: 95vh;
    @include tablet {
        margin: 20px 0 50px;
        text-align: left;
		height: auto;
    }
    @include laptop {
    	height: calc(100vh - 75px);
    	margin: 0;
    }
}
.nav .button-dropdown {
	position: relative;
	transition: 1s;
}
.nav li a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 55px;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
    	border-bottom: 0;
    	padding-bottom: 0;
    }
}
.nav li a span {
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    color: #999;
    vertical-align: middle;
    margin-top: -7px;
}
.nav li a:hover, .nav li a.dropdown-toggle.active {
    color: $color3;
}
// .nav li a:hover span, .nav li a.dropdown-toggle.active span {
//     color: #fff;
// }
.nav li .dropdown-menu {
    display: none;
    margin-top: 3px;
    text-align: center;

    @include tablet {
    	text-align: left;
    	margin-left: 15px;
    }
}
.nav li .dropdown-menu.active {
    display: block;
}
.dropdown-menu li a {
	font-size: 16px;
	width: 100%;
	padding: 3px 0;
	line-height: 20px;

	@include tablet {
		padding: 0;
		font-size: 18px;
		line-height: 24px;
	}
}

// Hover feature
.hover_wrapper {
	display: none !important;
	@include laptop {
		display: block !important;
		width: 65vw;
		height: 60vh;
		position: fixed;
		top: 50%;
		margin-top: calc(-60vh/2);
		right: -40px;
	}
}
.hover_wrapper_hidden {
	@include laptop {
		width: auto;
		height: 60vh;
		position: fixed;
		top: 50%;
		margin-top: calc(-60vh/2);
		// right: -40px;
	}
}
.fixed_img {
	display: none;
	@include laptop {
		display: block;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		width: 560px;
		height: 400px;
		z-index: 100;
		position: relative;
	}
	@include desktop {
		width: 660px;
		height: 425px;
	}
	
}
.js-background-receiver.hover {
  	display: none;

  	@include laptop {
	    z-index: 1000;
	    position: fixed;
	    right: 76px;
	    display: block;
	    height: 400px;
	    width: 560px;
	    background-color: blue;
	    background-size: cover;
	    background-position: center center;
	    background-repeat: no-repeat;
  	}
  	@include desktop {
  		right: 132px;
  		width: 660px;
  		height: 425px;
  	}
}
.js-background-trigger a {
	
  	@include laptop {
  		display: block;
  		z-index: 700;
  		position: relative;	
  	}
}
.js-background-trigger {
	
	@include laptop {
		display: block;
		position: relative;		
	}
}