<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="se-pre-con"></div>
            
        {% include header.html %}

        <div class="fixed_menu"><a href="/"><img src="/assets/hamburger.png" width="35" /></a></div>
        {% unless page.title == "profile" %}
            {% include components/project_meta.html %}
        {% endunless %}
        
        {% if page.web_cover_img %}
        	{% include components/web_cover_img.html %}
        {% endif %}

        <div class="wrapper collection_wrapper_visual">
        	{% if page.type == "web" %}
            <div class="content_styles">
        		{{ content }}
                {% include components/source_links.html %}
                {% include components/pagination.html %}
        	</div>
            {% else %}
                {{ content }}
                {% include components/pagination.html %}
            {% endif %}
    	</div>
    
        {% include footer.html %}
  </body>

</html>
