<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="se-pre-con"></div>
            
        {% include header.html %}

        <!-- <div class="fixed_menu"><a href="/">menu</a></div> -->
        {% include components/project_meta.html %}
        
        {% if page.web_cover_img %}
        	{% include components/web_cover_img.html %}
        {% endif %}

        <div class="wrapper collection_wrapper">
        	<div class="content_styles">
        		{{ content }}
        	</div>
    	</div>
    
        {% include footer.html %}
  </body>

</html>
