.footer_position {
	position: relative;
	@extend %clearfix;
}
.gamma_menu {
	float: left;
	left: 10px;
	bottom: 0;
	position: fixed;

	@include tablet {
		left: 20px;
	}
}
.gamma_menu ul li {
	font-size: 12px;
	@include tablet {
		display: inline-block;
		padding-right: 15px;
	}
}
.gamma_menu ul li a {
	@extend %menu_links;
}
.delta_menu {
	float: right;
	right: 10px;
	bottom: 0;
	position: fixed;

	@include tablet {
		right: 20px;
	}
}
.delta_menu ul li {
	font-size: 12px;
	@include tablet {
		display: inline-block;
		padding-left: 15px;
	}
}
.delta_menu ul li a {
	@extend %menu_links;
}