.footer_position {
	position: relative;
	@extend %clearfix;
}
.gamma_menu {
	float: left;
	left: 10px;
	bottom: 0;
	position: fixed;
}
.gamma_menu ul li {
	font-size: 12px;
}
.gamma_menu ul li a {
	@extend %menu_links;
}
.delta_menu {
	float: right;
	right: 10px;
	bottom: 0;
	position: fixed;
}
.delta_menu ul li {
	font-size: 12px;
}
.delta_menu ul li a {
	@extend %menu_links;
}