.logo {
	width: 100px;
	float: left;
}
.logo_img {
	width: 65px;
}
.logo_txt {
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 6px;
	text-transform: uppercase;
	width: 60px;
	word-break: break-all;
	padding-top: 10px;
}
.beta_menu {
	float: right;
}
.beta_menu ul li {
	font-size: 12px;
}
.beta_menu ul li a {
	@extend %menu_links;
}
.beta_head {
	position: relative;
	@extend %clearfix;
}